@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image-logo{
    width: 595.18px;
    height: 450px;
    margin-left: 125px;
   
}

header{
    margin: 44px 32px 30px  76px; 
}

.link-header{
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px; 
    color: #17233D;
    cursor: pointer;
    margin: 47px 32px 42px 36px;
    

}

.button-header{
    width: 124px;
    height: 51px;
    background: #6FBF44;
    border-radius: 10px;
    border: 1px solid #4CB538;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    
}

.text{
    display: inline-block;
    margin-left: 40px;
    
}

h1{
    color: #161A49;
    width: 582px;
    height: 164px;
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
}

p{
    width: 493px;
    height: 99px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #17233D;
    margin-top: 0px;
    margin-bottom: 0px;

}

.link-learn-more{
    width: 112px;
    height: 220px;
    color: #6FBF44;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    cursor: pointer;
    text-decoration: none;
}

/* Media Queries */
@media screen and (max-width: 690px){ /* Estilos para dispositivos com no máximo de 690px (móveis) */
    .link-header{
        display: none;
    }

    .button-header{
        width: 93px;
        height: 31px;
        border-radius: 6px;
        font-size: 12px;
        position:fixed;
        right: 7%;
        top:2%;
    }

    .image-logo{
        width: 90vw;
        height: 50vh;
        position:fixed;
        top: 50%;
        right: 5%;

    }

    header{
        width: 100vw;
        height: 50%;
        position: static;
    }
    
    h1{
        width: 278px;
        height: 60px;
        font-size: 30px;
        line-height: 30px;
        text-align: center;
        margin-top:40px;
        margin-bottom: 10px;
        margin-left: 30px;
        
    }

    p{
        width: 270px;
        height: 150px;
        font-size: 18px;
        line-height: 23px;
        text-align: center;
        margin-bottom: 25px;
        margin-left: 30px;
    }

    .link-learn-more{
        font-size: 18px;
        line-height: 18px;
        display: inline-block;
        margin-left: 110px;
        margin-top: 10px;
    }
}
